body{
	height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
    background-size:100% 100%;
 }
 a{
 	color: #dfebf5;
 }
 a:hover{
    text-decoration: none;
 }
.panel-title{
    display: inline;
}
.mic-info {
    color: #666666;
    font-size: 11px;
}
.table-hover>tbody>tr:hover{
	background-color: rgba(85, 115, 103, 0);
}
.leftpart{
    width: 60%;
}
.rightpart{
    width: 20%;
}
